body {
	color: #fff;
	background: url('background.png');
	margin:0px;
	padding:0px;
}

h2 {
	margin-bottom: 0;	
}

h3 {
	padding-top: 0;
	margin-top: 0;	
}

#container {
	position:relative;
	z-index:10;
	top:133px;
}

#map {
	position:absolute;
	top:0px;
	z-index:100;
}

#zoom {
	position:absolute;
	top:0px;
	z-index:10000;
}

#shade {
	background: url('shade.png');
	position:absolute;
	top:0px;
	z-index:1000;
}

#container, #map, #shade {
	width: 320px;
	height:275px;
	left:0px;
}

#footer {
	position:absolute;
	top:408px;
	height:30px;
}

#header {
	height: 100px;
	margin: 18px;
}

.btn {
	text-decoration: none;
	padding: 8px 12px;
	background:#fff;
	color: #aaa;
	font-weight: bold;
	margin-right: 8px;
	-webkit-border-radius: 10px;
}

.btn:hover {
	background: #6fd9f4;	
	color: #fff;
}
